<%- include("partials/header") %>
<body>
  <section id="header">
    <%- include("components/navbar") %> <%- include("components/top") %>
  </section>
  <section id="about"><%- include("components/about") %></section>
  <section id="projects"><%- include("components/projects") %></section>
  <section id="skills"><%- include("components/skills") %></section>
  <section id="contact"><%- include("components/contact") %></section>
  <%- include("partials/footer") %>
</body>
